.login {
	
	flex-direction: row;
	justify-content: center;
	background: linear-gradient( rgba(91, 87, 87, 0.711), rgba(193, 193, 193, 0.145) );
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	
background: linear-gradient(
	rgba(91, 87, 87, 0.711),
	rgba(193, 193, 193, 0.145)


  ),

}

.loginTitle {
font-size: 35px;
}

.loginForm {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   width: 100%;
    position: relative;
	margin-bottom: 20px;

}

.loginForm > label {
margin: 10px 0;
font-size: 24px;
}

.loginInput {
padding: 10px;
background-color:#f3f3f3;
border: none;
border-radius: 10px;
width: 50%;
}

.loginInput:focus {
outline: none;
}

.loginButton {
margin-top: 20px;
cursor: pointer;
background-color: #1f3d9d;
color: white;
padding: 10px;
border: none;
border-radius: 10px;
text-align: center;
width: 50%;
}

.loginRegisterButton {
position: absolute;
top: 60px;
right: 20px;
background-color: teal;
cursor: pointer;
padding: 10px;
border: none;
color: white;
border-radius: 10px;
}


.Sign-up{
text-decoration: none;
color: #f22283;
font-size: 16px;
}

.Sign-up:hover{
	color: #f22283;
}


@media (max-width: 700px){


	.login {
		height: calc(99vh - 45px);
		background: linear-gradient( rgba(91, 87, 87, 0.711), rgba(193, 193, 193, 0.145) );
		width: 200%;
		display: flex;
		background: linear-gradient(
		rgba(91, 87, 87, 0.711),
		rgba(193, 193, 193, 0.145)
	
	
	  ),
	
	}

	.loginForm {
		margin-top: 74px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: self-start;
		position: relative;
		left: 10%;
	}

	.Sign-up {
		text-decoration: none;
		color: #f22283;
		font-size: 15px;
		position: relative;
		top: -18px;
		left: -133px;
	}

	.loginTitle {
		font-size: 35px;
	}

	.loginButton {
		margin-top: 20px;
		cursor: pointer;
		background-color: #1f3d9d;
		color: white;
		padding: 10px;
		border: none;
		border-radius: 10px;
		text-align: center;
		width: 30%;
	}

	.loginInput {
	    padding: 10px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 10px;
    width: 30%;
	}

}

@media (max-width: 375px){


	.login {
		height: calc(99vh - 45px);
		background: linear-gradient( rgba(91, 87, 87, 0.711), rgba(193, 193, 193, 0.145) );
		width: 200%;
		display: flex;
		background: linear-gradient(
		rgba(91, 87, 87, 0.711),
		rgba(193, 193, 193, 0.145)
	
	
	  );
	}

	.loginForm {
	    margin-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    position: relative;
    left: 7%;
	}
	.signUp-link{
	    display: flex;
    flex-direction: column-reverse;
	}

	.Sign-up {
		text-decoration: none;
		color: #f22283;
		font-size: 15px;
		position: relative;
		top: -19px;
		left: 29px;
	}

	.loginTitle {
		font-size: 35px;
	}


}