.addDepartments-container{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(188, 188, 188);
    border-radius: 50px;
    height: auto;
    font-size: 2.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    direction: rtl;
}
.form{
    margin: 0;
    padding: 0;
    display: contents;
}

.addDepartments-container label{
    text-align: center;
    margin-bottom: 10PX;
}

.addDepartments-container input{
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: inherit;
    text-align: center;
    margin-bottom: 25px;
}


.addDepartments-container .supmit-button{
    background-color: aliceblue;
    width: 350px;
    border: solid 2px blue;
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    color: blue;

}
.addDepartments-container .supmit-button:hover{
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}




.link{
    padding: 0;
    margin: 0;
    text-decoration: none;
}