.singleDepartment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: antiquewhite;
    margin-top: 20px;
    margin-right: 25px;
    direction: rtl;
}


.singleDepartment ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.singleDepartment ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.singleDepartment:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.singleDepartment-Title{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
  }

.edit-container{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 223, 190);
  }





.delete-container{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 223, 190);
  }

.edit-text{
  width: 50%;
  margin: 0;
}
.edit-icon{
  width: 50%;
  margin: 0;
}

.btn-edit{
  background-color: aliceblue;
  color: blue;
  width: 100px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 2px blue;
}

.btn-edit:hover{
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}

.btn-delete{
  background-color: aliceblue;
  color: red;
  width: 100px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 2px red;
}

.btn-delete:hover{
  background-color: red;
  color: aliceblue;
  cursor: pointer;
}