.register {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.5)
	  );
  }
  
  .registerTitle {
  font-weight: bold;
	font-size:36px;
  color: rgb(242, 34, 131);
  }
  .registerForm {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.registerForm > label {
  margin: 10px 0;
  font-size: 24px;
}

  
  .registerForm > label {
	margin: 10px 0;
  }
  
  .registerInput {
	padding: 10px;
	background-color: #f3f3f3;
	border: none;
	border-radius: 10px;
  }
  
  .registerInput:focus {
	outline: none;
  }
  
  .registerButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: teal;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 10px;
	text-align: center;
  }
  
  .registerLoginButton {
	
	
    position: absolute;
    margin-top: 3px;
    margin-left: 74px;
    width: 41px;
    height: 40px;
    border-radius: 18px;
    background-color: #FFF;

  }


.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 8px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  width: 400px;
  height: 43px;
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 85px;
    width: 40px;
    height: 40px;
    border-radius: 18px;
    background-color: #FFF;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto" ;
  }
  .btn-text-google:hover {
    box-shadow: 0 0 6px  #4285f4;
  }
  .btn-text-google:active {
    background: #1669F2;
  }


.b-google{
	
    position: relative;
    left: 160px;

}

.google-icon{

	border-radius: 50%;
}


.or-signup {
  position: relative;
  left: 0%;
  top: -5px;
}
.btn-google{
  border: none;
  background-color: transparent;
  color: #FFF;
}





@media (max-width: 375px){

  .registerForm {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 254px;
}
.btn-text {
  float: right;
  margin: 10px -73px 0 0;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.b-google {
  position: relative;
  left: 5px !important;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 18px;
}

}