/** @format */

.cardBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: antiquewhite;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 100px;
  direction: rtl;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.text {
  font-size: 1rem;
  margin: 10px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid rgb(182, 179, 179) 1px;
  border-bottom: solid rgb(182, 179, 179) 1px;
}

.author {
  width: 20%;
  font-weight: bold;
  font-size: 1.2rem;
}

.department {
  width: 20%;
  font-weight: bold;
  font-size: 1.2rem;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: bold;
  font-size: 1.2rem;
}

.like p {
  padding-right: 10px;
}
.cardBlog .buttons-contaier {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cardBlog .button-div {
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;
}

.editBlog-container {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 223, 190);
}

.deleteBlog-container {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 223, 190);
}
.openBlog-container {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 223, 190);
}

.edit-text {
  margin: 0;
}
.open-text {
  width: 50%;
  margin: 0;
}
.edit-icon {
  margin: 0;
}
.open-icon {
  margin: 0;
}

.blog-btn-edit {
  width: 25px;
  background-color: aliceblue;
  color: blue;
  width: 100px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 2px blue;
}

.blog-btn-edit:hover {
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}
.blog-btn-open {
  width: 25px;
  background-color: aliceblue;
  color: rgb(2, 131, 51);
  width: 100px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 2px rgb(2, 131, 51);
}
.blog-btn-open:hover {
  background-color: rgb(2, 131, 51);
  color: aliceblue;
  cursor: pointer;
}

.blog-btn-delete {
  width: 25px;
  background-color: aliceblue;
  color: red;
  width: 100px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 2px red;
}

.blog-btn-delete:hover {
  background-color: red;
  color: aliceblue;
  cursor: pointer;
}
