.container-event {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   
  }
  
  .card-event{
       margin-left: 10px;
       margin-right: 10px;
    width: 350px;
  margin-top: 125px;
    height: 300px;
    margin-bottom:40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-event{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
     background-color: transparent;
      background-clip: border-box;
      margin-bottom:40px;
    
      border-radius: 12px;
  }
  .card-event :hover .card__caption-event  {
    top: 50%;
    transform: translateY(-50%);
  }
  .card-event :hover .card__image-event  {
    transform: translateY(-10px);
  }
  .card-event :hover .card__thumb-event ::after {
    top: 0;
  }
  .card-event:hover .card__snippet-event  {
    margin: 20px 0;
  }
  .card__thumb-event  {
    position: relative;
    max-height: 400px;
    overflow: hidden;
  }
  
  figure {
      margin: 0;
      border-radius: 12px;
  
      
  }
  .card__author__event{
    margin-top: 20px;
    text-align: end;
    padding-right: 10px;
    font-size: 1.1rem;
    color:#000000b5

  }
  .card__date__event{
    text-align:end ;
    padding-right: 10px;
    font-size: 1.1rem;
    color:#000000b5
  }
  @media (min-width: 1024px) {
    .card__thumb-event {
      max-height: 500px;
    }
  }
  .card__thumb-event::after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .card__thumb-event::after {
      top: calc(100% - 140px);
    }
  }
  .card__image-event {
    transition: 0.5s ease-in-out;
  }
  .card__caption-event {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .card__caption-event {
      top: calc(100% - 110px);
      transform: unset;
    }
  }
  .card__title-event {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card__snippet-event {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  @media (min-width: 1024px) {
    .card__snippet-event {
      margin: 60px 0;
    }
  }
  .card__button-event {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 8px;
  }
  .card__button-event:hover {
    color: black;
    background-color: white;
  }
  
  