
.about-4 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 140px;
}

.about-4__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-4__bg > .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  max-width: 882px;
  width: 100%;
}

.about-4__bg > .icon img {
  width: 100%;
}

.about-4 > .container {
  position: relative;
  z-index: 2;
}

.about-4 > .container > .content {
  width: 100%;
}

.about-4 > .container > .content > .video {
  float: left;
  position: relative;
  height: 590px;
  max-width: 570px;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
}

.about-4 > .container > .content > .video > .btn-video-outer {
  position: absolute;
  left: -28px;
  top: 80%;
  z-index: 2;
}

.about-4 > .container > .content > .video > .img {
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.about-4 > .container > .content > .video > .img > img {
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  height: auto;
  width: auto;
  top: 85px;
  right: -65px;
}

.about-4 > .container > .content > .video > .img:hover > img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.about-4 > .container > .content > .content-right > h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 6.5px;
  color: #333333;
}

.about-4 > .container > .content > .content-right > h2 {
  margin-top: 75px;
  font-size: 25px;
  font-weight: 900;
  line-height: 1.2;
  color: #333333;
  direction: rtl;
}

.about-4 > .container > .content > .content-right > p {
  margin-top: 30px;
  direction: rtl;
  font-size: 16px;
  line-height: 2;
  color: #333333;
  margin-bottom: 20px;
}

/**************************************************/

.Jeddah {
  direction: rtl;
  position: relative;
  font-weight: 500;
  font-family: "Cairo", sans-serif;
  color: #f22283;
  bottom: -37px;
  right: 5px;
}

.section-title-Apout {
  text-align: center;
  position: relative;

  top: 110px;
}

@media(max-width: 375px) {
  .about-4 > .container > .content > .video > .img {
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height: 100%;
    width: 200%;
}
.about-4 > .container > .content > .content-right > h2 {
  direction: rtl;
  margin-top: 75px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #333333;
}
.about-4 > .container > .content > .content-right > p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 2;
  direction: rtl;
  color: #333333;
  margin-bottom: 20px;
}
.about-4 > .container > .content > .video > .img > img {
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  height: 100%;
  width: 50%;
  top: 85px;
  right:10px;
}

.formBody> .container-about-aoointement {
  right: 55px;
  width: 130%;
  position: relative;
}

}


.formBody{
  width:100%;
  height: 100%;
}
.container-about-aoointement{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 20PX 100PX;
}
.container-about-aoointement:after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.contactBox{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow:0px 0px 19px 5px rgba(0, 0, 0, 0.19) ;
  border-radius: 5px;
}
.left-about{
  height: 100%;
  background-image: url('https://th.bing.com/th/id/R.0bd615c576d140eb5ae23a3dbdd5ee7f?rik=JK328JBZSIgGmQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fb%2f3%2f3%2f7101.jpg&ehk=gOhUwjOzx8fFMWFLUmuxV9zLe4PcuGG%2ffBqmWZ%2fjYnI%3d&risl=&pid=ImgRaw&r=0');

  background-size: cover;
  border-radius: 5px;
}
.right-about{
  padding:25px;
}
.h2q{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.h2q:after{
  content: '';
  position:absolute;
  left:50%;
  bottom: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}
.field{
  direction: rtl;
  width: 100%;
  padding:0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0,0,0,0);
  background-color:rgba(230,230,230,06) ;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 5px;
}
.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
  background-color: #fff;
  border: 2px solid rgba(30,85,250,0.47);
}
.btn-appoin-about{
  width: 100%;
  padding:0.5rem 1rem;
  font-size: 1.1rem;
  background-color:#1f3d9d;
  cursor:pointer;
  outline: none;
  border:none;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width:900px){
  .Jeddah{
  right: 30px;
  direction: rtl;
  position: absolute;
  font-weight: 500;
  font-family: "Cairo", sans-serif;
  color: #f22283;
  top: 10px;
  
}
}


@media screen and (max-width:880px){
  .contactBox{
      grid-template-columns: 1fr;
  }
  .left{
      height: 200px;
  }
}