.offersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-title{
    font-size: 3rem;
    margin-left: 45%;
}


.adding-offers .container {
    width: 150px;
    height: 150px;
    background-color: rgb(109, 109, 249);
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.add-icon{
    font-size: 14rem;
    color: aliceblue;
}

.adding-offers .container:hover{
    width: 170px;
    height: 170px;
    background-color: blue;
    transition: 0.2s;
    cursor: pointer;
}

.link{
    text-decoration: none;
  }