.h1-teams-logo{
  text-align: center;
}
.TeamsContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .TeamsContainer h3{
    text-align: center;
}

  .TeamCard{
    background-color: #f4f4f4;
    width:9em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    border-radius: 10px;
    padding:20px;
    margin: 15px;
    transition: 0.5s ease;
  }

  .TeamCard:hover{
    transform: scale(1.1);
  }

  .TeamCardIcon{
    display: flex;
    justify-content: center;
  }

 

  .TeamCardInfo{
    text-align: center;
  }

  .TeamCardInfo p{
    text-align: start;
    direction: rtl;
  }

  .TeamCardContact .TeamCardInfo h4{
      color: #000000;
  }

  .TeamCardContact p{
      font-size: 1.3em;
  }

  .TeamImage{
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
  }