.departments {
  position: relative;
  bottom: 50px;
  left: 55%;
  width: 20rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 11;
}
.departmentWrapperSwiper {
  height: 10rem;
  position: relative;
  top: -135px ;
}



@media  (min-width: 375px) {

  .departmentWrapperSwiper {
    height: 10rem;
    position: relative;
    top: -30px !important;
}
}

@media  (min-width: 390px) {
.departmentWrapperSwiper {
  height: 10rem;
  position: relative;
  top: -35px !important;
}
.departments__item {
  background-color: #1f3d9d;
  color: #ffffff;
  margin-top: 22px;
  -webkit-box-flex: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
  width: 180px !important;
}
}
@media  (min-width: 768px) {
.departmentWrapperSwiper {
  height: 10rem;
  position: relative;
  top: -455px !important;
}
}

@media  (min-width: 1024px) {

  .departmentWrapperSwiper {
    height: 10rem;
    position: relative;
    top: -310px !important;
}
}







.departments > .container {
  position: relative;
  padding: 0;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
  margin-top: 40px;
}

.mySwiper1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  margin-top: -100px;
}

.departments__item {
  background-color: #1f3d9d;
  color: #ffffff;
  margin-top: 22px;

  -webkit-box-flex: 0;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}

.departments__item:hover {
  margin-top: 0px;
  background-color: #f22283;
}

.departments__item-icon {
  margin-top: 40px;
  margin-bottom: 23px;
}

.departments__item-icon svg {
  display: block;
}

.departments__item-title {
  font-size: 20px;
  font-family: "Cairo", sans-serif;
  margin-bottom: 20px;
  position: inherit;
}

.departments__item-text {
  font-weight: 100;
  font-size: 10px;
  font-family: "Cairo", sans-serif;
}

.departments .owl-item .departments__outer-item {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  top: 30px;
  width: 100%;
}

.departments .owl-nav {
  position: absolute;
  width: 125px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.departments .owl-nav button {
  margin: 0 !important;
  overflow: hidden;
  border-radius: 8px !important;
  width: 49px;
  height: 49px;
  border: 1px solid #1f3d9d !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #ffffff;
}

.departments .owl-nav button span {
  display: block;
  display: inline;
  line-height: 20px;
  font-size: 20px;
  color: #1f3d9d;
  font-size: 30px;
}

.departments .owl-nav button:hover {
  -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.5);
  box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.5);
  background-color: #1f3d9d !important;
}

.departments .owl-nav button:hover span {
  color: #ffffff;
}

.departments .owl-dots {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
}

.departments .owl-dot {
  margin-top: 27px;
}

.departments .owl-dot:last-child {
  margin-right: 0;
}

.departments .owl-dot:last-child > span {
  margin-right: 0;
}

.departments .owl-dot span {
  min-width: 10px;
  height: 10px;
}

.departments .owl-dot.active span {
  width: 48px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #f22283 !important;
}

.owl-carousel .owl-item img {
  width: 30%;
  position: relative;
  right: 0px;
}

.departments__item-title {
  color: #ffffff;
}

.mySwiperdep {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  top: -90px;
}

@media (max-width: 481px) {
  .departments__item {
    background-color: #1f3d9d;
    color: #ffffff;
    margin-top: 22px;

    -webkit-box-flex: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
    width: 200px;
  }

  .card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
    width: 200px;
    height: 180px;
  }

  .mySwiperdep {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    top: -83px;
  }
  /* .departments .owl-item .departments__outer-item {
    width: 80%;
    height: 400px;
    top: -80px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  } */
  
}

@media (max-width: 375px) {
  .departments__item {
    background-color: #1f3d9d;
    color: #ffffff;
    margin-top: 22px;

    -webkit-box-flex: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
    width: 160px;
  }

  .card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
    width: 200px;
    height: 180px;
  }

  .mySwiperdep {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    top: -83px;
  }
  
}
